body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

html {
  scroll-behavior: smooth;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}

.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font: 14px arial;
}

.btn-custom-alpha {
  color: #fff;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.btn-custom-alpha:hover {
  background-image: linear-gradient(19deg, #046a81 0%, #5b0683 100%);
  color: #fff;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  height: 40px;
  border-radius: 50px;
  border: 1px solid #21d4fd;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9d9d !important;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #071c4d !important;
}

header {
  padding: 230px 0 165px;
  background-image: url("../images/header.png");
  background-size: cover;
  margin-top: -120px;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  color: #fff;
  border: 1px solid #f8ce35;
  background-image: linear-gradient(70deg, #f8ce35 0%, #f76b1c 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
}

header .btn-get-started:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ceaa28), to(#bd5316));
  background-image: linear-gradient(90deg, #ceaa28 0%, #bd5316 100%);
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 16px;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

.section-stats p {
  font-size: 20px;
  font-weight: 300;
}

.section-popular {
  min-height: 540px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#051334), to(#667eea));
  background-image: linear-gradient(180deg, #051334 0%, #667eea 100%);
  margin-top: -50px;
  margin-bottom: -200px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}

.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background: #ddd;
  color: #fff;
  text-shadow: 1px 1px 0 #071c4d, -1px 1px 0 #071c4d, 1px -1px 0 #071c4d, -1px -1px 0 #071c4d, 0px 1px 0 #071c4d, 0px -1px 0 #071c4d, -1px 0px 0 #071c4d, 1px 0px 0 #071c4d, 2px 2px 0 #071c4d, -2px 2px 0 #071c4d, 2px -2px 0 #071c4d, -2px -2px 0 #071c4d, 0px 2px 0 #071c4d, 0px -2px 0 #071c4d, -2px 0px 0 #071c4d, 2px 0px 0 #071c4d, 1px 2px 0 #071c4d, -1px 2px 0 #071c4d, 1px -2px 0 #071c4d, -1px -2px 0 #071c4d, 2px 1px 0 #071c4d, -2px 1px 0 #071c4d, 2px -1px 0 #071c4d, -2px -1px 0 #071c4d;
  padding: 30px;
  background-size: 100% 100%;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  font-weight: 600;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  color: #fff;
  text-shadow: none;
  border: 1px solid #f8ce35;
  background-image: linear-gradient(70deg, #f8ce35 0%, #f76b1c 100%);
  border-radius: 50px;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ceaa28), to(#bd5316));
  background-image: linear-gradient(90deg, #ceaa28 0%, #bd5316 100%);
  color: #fff;
}

.section-networks {
  margin-top: -200px;
  padding-top: 240px;
  background-color: #fff;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d7e1fa));
  background: linear-gradient(#fff 0%, #d7e1fa 100%);
  padding-top: 50px;
  min-height: 539px;
}

.section-testimonial-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 13px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 25px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e9defa), to(#fbfcdb));
  background-image: linear-gradient(to top, #e9defa 0%, #fbfcdb 100%);
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
  font-weight: 600;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 300;
  font-size: 18px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-get-started {
  color: #fff;
  border: 1px solid #f8ce35;
  background-image: linear-gradient(70deg, #f8ce35 0%, #f76b1c 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
}

.section-testimonial-content .btn-get-started:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ceaa28), to(#bd5316));
  background-image: linear-gradient(90deg, #ceaa28 0%, #bd5316 100%);
  color: #fff;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
  border-radius: 50px;
  font-weight: 300;
  font-size: 20px;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #a1a1a1;
  color: #fff;
}

.section-footer h5 {
  font-weight: 600;
}

.section-footer a {
  color: #071c4d;
}

.section-details-header {
  margin-top: -70px;
  min-height: 310px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bdc2e8), color-stop(1%, #bdc2e8), to(#e6dee9));
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  color: #071c4d;
  font-weight: 300;
}

.section-details-content .breadcrumb-item.active {
  font-weight: 600;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  font-weight: 600;
}

.section-details-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
}

.section-details-content .card-details p {
  font-size: 18px;
  font-weight: 300;
  color: #b1b1b1;
  white-space: pre-line;
}

.section-details-content .card-details h3 {
  font-weight: 600;
  font-size: 14px;
}

.section-details-content .card-details .attendee table thead {
  font-weight: 300;
  color: #071c4d;
  font-size: 18px;
}

.section-details-content .card-details .attendee table tbody {
  color: #071c4d;
  font-size: 18px;
}

.section-details-content .card-details .trip-informations th {
  font-weight: 300;
  font-size: 18px;
}

.section-details-content .card-details .trip-informations td {
  color: #b1b1b1;
  font-weight: 300;
  font-size: 18px;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071c4d;
  font-weight: 600;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #ff9e53;
  font-weight: 600;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  overflow: hidden;
  margin-left: 10px;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #b1b1b1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #071c4d;
  color: #fff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #1b3b86;
  color: #fff;
}

.section-details-content .features {
  margin-top: 20px;
}

.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .features .description p {
  font-size: 14px;
}

.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  font-weight: 300;
  margin-bottom: 0;
}

.section-details-content .features p {
  margin-bottom: 0;
}

.section-details-content .gallery .xzoom-container {
  display: block;
  width: 100%;
}

.section-details-content .gallery .xzoom-container .xzoom {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 30px;
}

.section-details-content .gallery .xactive {
  border: 4px solid #1abc9c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0px;
}

.section-details-content .card-right h2 {
  font-weight: 600;
}

.section-details-content .members .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .member img {
  width: 15px;
  height: 15px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  border-radius: 11px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  border: 1px solid #fad961;
  background-image: -webkit-gradient(linear, left top, right top, from(#fad961), to(#f76b1c));
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
}

.section-details-content .btn-join-now:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ceaa28), to(#bd5316));
  background-image: linear-gradient(90deg, #ceaa28 0%, #bd5316 100%);
  color: #fff;
}

.section-details-content .btn-join-later {
  border-radius: 11px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #fff;
  background-color: #393b41;
}

.section-details-content .btn-join-later:hover {
  background-color: #585a5f;
  color: #fff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}

.section-success .btn-homepage {
  border-radius: 40px;
  color: #fff;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.section-success .btn-homepage:hover {
  background-image: linear-gradient(19deg, #046a81 0%, #5b0683 100%);
  color: #fff;
}

.section-package-header {
  margin-top: -70px;
  min-height: 310px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f3e7e9), color-stop(99%, #e3eeff), to(#e3eeff));
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.section-packages {
  margin-top: -140px;
}

@media (min-width: 992px) {
  .login-container {
    background: -webkit-gradient(linear, left top, right top, color-stop(65%, #fff), color-stop(35%, #e4e6eb));
    background: linear-gradient(90deg, #fff 65%, #e4e6eb 35%);
    width: 100vw;
    height: 100vh;
  }
}

.page-login {
  height: 100vh;
}

.page-login .btn-login {
  color: #fff;
  border: 1px solid #f8ce35;
  background-image: linear-gradient(70deg, #f8ce35 0%, #f76b1c 100%);
  border-radius: 50px;
}

.page-login .btn-login:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ceaa28), to(#bd5316));
  background-image: linear-gradient(90deg, #ceaa28 0%, #bd5316 100%);
  color: #fff;
}

.page-login .section-left h1 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 50px;
  color: #071c4d;
}

.page-login .section-right a {
  color: #a1a1a1;
}
/*# sourceMappingURL=main.css.map */